* {
  background-color: rgb(20, 20, 20);
  color: white;
}

html {
  font-size: 13px;
}

body {
  padding: 10px;
}

h1 {
  font-size: 1.2em;
}

a {
  color: rgb(146, 206, 146);
  text-decoration: none;
}

a:hover {
  background-color: rgb(248, 105, 34);
  color: white;
}

.change-increase {
  color: rgb(146, 206, 146);
}

.change-decrease {
  color: rgb(248, 105, 34);
}

#top {
  text-align: center;
}

td, th {
  text-align: right;
}

#align-left {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  body {
    padding: 10px 0px 10px 0px;
  }
}

/* OVERRIDES */
.pure-table {
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.pure-table-horizontal td, .pure-table-horizontal th {
  border-bottom: 1px solid #cbcbcb4d;
}